<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edotassi.amazmod">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <application
        android:name=".AmazModApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.AboutActivity" />
        <activity
            android:name=".ui.TweakingActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ui.WatchfaceActivity" />
        <activity android:name=".ui.WidgetsActivity" />
        <activity android:name=".ui.StatsActivity" />
        <activity android:name=".ui.SettingsActivity" />
        <activity android:name=".ui.NotificationPackagesSelectorActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/notification_packages_selector_searchable" />
        </activity>
        <activity android:name=".ui.PreferenceActivity" />
        <activity android:name=".ui.NotificationsLogActivity" />
        <activity android:name=".ui.FaqActivity" />
        <activity
            android:name=".ui.MainIntroActivity"
            android:theme="@style/Theme.Intro" />
        <activity android:name=".ui.CheckPermissionsActivity" />
        <activity android:name=".ui.FilesExtrasActivity" />
        <activity android:name=".ui.FileExplorerActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.MainActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".ui.NotificationRepliesDragActivity" />
        <activity
            android:name=".ui.CommandHistoryActivity"
            android:parentActivityName=".ui.TweakingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.edotassi.amazmod.ui.TweakingActivity" />
        </activity>
        <activity android:name=".ui.FileOpenerActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize">

            <intent-filter android:label="@string/file_opener_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="application/vnd.android.package-archive"
                    android:scheme="content" />
                <data
                    android:mimeType="application/octet-stream"
                    android:scheme="content" />
            </intent-filter>
            <intent-filter android:label="@string/file_opener_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\.wfz" />
                <data android:pathPattern=".*\..*\.wfz" />
                <data android:pathPattern=".*\..*\..*\.wfz" />
                <data android:pathPattern=".*\..*\..*\..*\.wfz" />
                <data android:pathPattern=".*\..*\..*\..*\..*\.wfz" />
                <data android:pathPattern=".*\..*\..*\..*\..*\..*\.wfz" />
            </intent-filter>
            <intent-filter android:label="@string/file_opener_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\.wfz" />
                <data android:pathPattern=".*\..*\.wfz" />
                <data android:pathPattern=".*\..*\..*\.wfz" />
                <data android:pathPattern=".*\..*\..*\..*\.wfz" />
                <data android:pathPattern=".*\..*\..*\..*\..*\.wfz" />
                <data android:pathPattern=".*\..*\..*\..*\..*\..*\.wfz" />
            </intent-filter>
            <intent-filter android:label="@string/file_opener_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*\.wfz" />
                <data android:pathPattern=".*\..*\.wfz" />
                <data android:pathPattern=".*\..*\..*\.wfz" />
                <data android:pathPattern=".*\..*\..*\..*\.wfz" />
                <data android:pathPattern=".*\..*\..*\..*\..*\.wfz" />
                <data android:pathPattern=".*\..*\..*\..*\..*\..*\.wfz" />
            </intent-filter>
            <intent-filter android:label="@string/file_opener_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\.apk" />
                <data android:pathPattern=".*\..*\.apk" />
                <data android:pathPattern=".*\..*\..*\.apk" />
                <data android:pathPattern=".*\..*\..*\..*\.apk" />
                <data android:pathPattern=".*\..*\..*\..*\..*\.apk" />
                <data android:pathPattern=".*\..*\..*\..*\..*\..*\.apk" />
            </intent-filter>
            <intent-filter android:label="@string/file_opener_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\.apk" />
                <data android:pathPattern=".*\..*\.apk" />
                <data android:pathPattern=".*\..*\..*\.apk" />
                <data android:pathPattern=".*\..*\..*\..*\.apk" />
                <data android:pathPattern=".*\..*\..*\..*\..*\.apk" />
                <data android:pathPattern=".*\..*\..*\..*\..*\..*\.apk" />
            </intent-filter>
            <intent-filter android:label="@string/file_opener_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*\.apk" />
                <data android:pathPattern=".*\..*\.apk" />
                <data android:pathPattern=".*\..*\..*\.apk" />
                <data android:pathPattern=".*\..*\..*\..*\.apk" />
                <data android:pathPattern=".*\..*\..*\..*\..*\.apk" />
                <data android:pathPattern=".*\..*\..*\..*\..*\..*\.apk" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.NotificationPackageOptionsActivity" />
        <activity android:name=".ui.ChooseLanguageActivity" />

        <service
            android:name=".notification.NotificationService"
            android:label="@string/notifications_service_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service android:name=".transport.TransportService" />
        <service
            android:name=".notification.NotificationJobService"
            android:label="AmazModNotificationJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!--
        Disabled since new Watch class was added
        <service android:name="xiaofei.library.hermes.HermesService$HermesService0" />
        -->
        <receiver
            android:name=".receiver.BatteryStatusReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.edotassi.amazmod.USER_ACTION" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.WatchfaceReceiver" />
        <receiver
            android:name=".receiver.BootBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${enableCrashReporting}" />
    </application>

</manifest>